* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c4af9a;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #1e1e24;
  color: white;
}

header h1 {
  font-size: 2.5rem;
  margin: 10px;
}

header h2 {
  font-size: 2rem;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.instruction-section {
  background-color: white;
  border: 1px solid rgb(199, 199, 199);
  max-height: 300px;
  overflow-y: auto;
}

.instruction-section h3 {
  padding: 10px;
  background-color: #1e1e24;
  color: white;
}

.instruction-section p {
  border-top: 1px solid rgb(199, 199, 199);
  border-bottom: 1px solid rgb(199, 199, 199);
  padding: 10px;
}

.instruction-section button {
  padding: 10px;
  margin: 10px;
  width: 95%;
  background-color: #1e1e24;
  color: white;
}

table {
  width: 60%;
  border-collapse: collapse;
  max-height: 45px;
  overflow-y: auto;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

table th {
  background-color: #fb9f89;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #e0e0e0;
}

table td button.remove-project {
  padding: 5px 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  cursor: pointer;
}

table td button.remove-project:hover {
  background-color: #c0392b;
}

dialog {
  position: absolute;
  top: 30%;
  left: 20%;
  padding: 100px;
  z-index: 10;
}

dialog h2 {
  margin: 10px;
}

dialog label,
input {
  padding: 10px;
}

dialog section button {
  margin: 10px;
}

dialog::backdrop {
  background-color: hsla(255, 2%, 42%, 0.212);
}

@media only screen and (max-width: 1352px) {
  table {
    margin-top: 50px;
    width: 80%;
  }

  dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  dialog button {
    display: block;
    margin: 10px;
  }
}

@media only screen and (max-width: 800px) {
  table {
    margin-top: 50px;
    width: 100%;
  }

  dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  dialog button {
    display: block;
    margin: 10px;
  }
}
