* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c4af9a;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #1e1e24;
  color: white;
}

header h1 {
  font-size: 2.5rem;
  margin: 10px;
}

header h2 {
  font-size: 2rem;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.instruction-section {
  background-color: white;
  border: 1px solid rgb(199, 199, 199);
}

.instruction-section h3 {
  padding: 10px;
  background-color: #1e1e24;
  color: white;
}

.instruction-section p {
  border-top: 1px solid rgb(199, 199, 199);
  border-bottom: 1px solid rgb(199, 199, 199);
  padding: 10px;
}

.instruction-section button {
  padding: 10px;
  margin: 10px;
  width: 95%;
  background-color: #1e1e24;
  color: white;
}

table {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

table .table-headers {
  display: flex;
  background-color: #fb9f89;
}

table tr th {
  padding: 10px 200px;
}

table #project-list tr td {
  padding: 10px 200px;
}

table tbody tr {
  border-bottom: 1px solid #ccc;
}

table tbody tr td button.remove-project {
  padding: 5px 10px;
  margin: 0;
}

table tbody tr td button.remove-project:hover {
  background-color: #e74c3c;
  color: white;
  cursor: pointer;
}

dialog {
  position: absolute;
  top: 30%;
  left: 20%;
  padding: 100px;
  z-index: 10;
}

dialog h2 {
  margin: 10px;
}

dialog label,
input {
  padding: 10px;
}

dialog section button {
  margin: 10px;
}

dialog::backdrop {
  background-color: hsla(255, 2%, 42%, 0.212);
}
